.showcase {
  background-image: url('../components/images/bg1.jpg');
  background-color: #cccccc;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.showcase-content {
  background-color: rgba(186, 221, 250, 0.7);
  font-weight: 200px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px 10px;
}

.head-01 {
  display: block;
  letter-spacing: 20%;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
}

.head-02 {
  display: block;
  letter-spacing: 20.2px;
  font-size: 20px;
  font-weight: 300;
}
